<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <h1> {{title}} </h1>
  <h4>
  	Variable
  	
   	  <select id="Id" [(ngModel)]="columnNameValue" 
   	  	(change)="selectName();" placeholder="Select Column Name">  
             <option (click)="columnNameValue=''; selectName();" selected="" value=""></option>  
             <option *ngFor="let value of dropDownValues" [value]="value">  
                 {{value || uppercase }}  
             </option>  
      </select>
      <br><br>
      
      <span>
      	<ng-template [ngIf] = "totalCount != null && columnNameValue != '' ">
      	<table class="clipPadding">
      		<tbody>
      			<tr>
      				<td>Total Count: {{totalCount}} &nbsp;</td>
      				
      				<td *ngIf = "undisplayedRowsCount != 0">Rows Clipped: {{undisplayedRowsCount}} &nbsp;</td>
      				<td *ngIf = "undisplayedRowsCount != 0" >
		      			Undisplayed labels
			      		<select placeholder="Undisplayed Labels" >
							<option selected="" value=""></option>
							<option disabled *ngFor="let value of undisplayedValues">
								{{value || uppercase }}</option>
						</select>
      				</td>
      			</tr>
      		</tbody>
      	</table>
      	
      	
      	</ng-template>
      		

		</span>
      <br>
      	<ng-template [ngIf]="disp != null && columnNameValue != ''" >
      <table class="dataTable list dtable">
      	<tbody>
      		<tr style="background-color: #b7d7e8;">
      			<th><strong>Label </strong> </th>
      			<th><strong>Average </strong></th>
      			<th><strong>Count </strong></th>
      			
      			
      		</tr>
      	<ng-template ngFor let-ds [ngForOf]="disp"> 
      		
      		<tr>
      			<th *ngIf="ds.label != null">{{ds.label}}</th>
      			<th *ngIf="ds.label === null">NULL</th>
      			<th>{{ds.average }}</th>  
      			<th>{{ds.count}}</th>
      		    
      			
      		</tr>
      		</ng-template>
      		
      	</tbody>
      </table>   
      </ng-template>
  </h4>
</div>


